<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<br><br><br><center><button class="w3-btn w3-blue w3-ripple" ng-click="sum()">sumup</button></center>
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
   $scope.sum=function()
   {
   var newwin=window.open('','msg',"width=400,height=200,resizeable=no");
newwin.document.write("<center>value_1:<input type='number' id='a1'  onchange=set(this.value)><br><br>value_2:<input type='number' id='a2' onchange=set(this.value)><br><br><button onclick='window.opener.document.write(i);window.close();'>ok</button></center><script>var i="+0+";function set(a){i=parseInt(i)+parseInt(a)}<\/script>");
newwin.opener.document.write("sum is");
   }
});
</script>

</body>
</html>

